USE [master]
GO
/****** Object:  Database [laptopshop]    Script Date: 7/9/2024 12:16:57 AM ******/
CREATE DATABASE [laptopshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'laptopshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\laptopshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'laptopshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\laptopshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [laptopshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [laptopshop]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Orders] [int] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Flag] [int] NOT NULL,
	[Reply] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupUser]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.GroupUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[TableId] [int] NULL,
 CONSTRAINT [PK_dbo.Link] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[TableID] [int] NULL,
	[ParentID] [int] NULL,
	[Orders] [int] NOT NULL,
	[Positon] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[UserID] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ExportDate] [datetime] NULL,
	[DeliveryAddress] [nvarchar](max) NULL,
	[DeliveryName] [nvarchar](max) NULL,
	[DeliveryPhone] [nvarchar](max) NULL,
	[DeliveryEmail] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Trash] [int] NULL,
	[Updated_at] [datetime] NULL,
	[Updated_by] [int] NULL,
	[IsPayment] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [float] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TopicID] [int] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[CateID] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[ImageList] [nvarchar](max) NULL,
	[NewPromotion] [nvarchar](max) NULL,
	[Installment] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Specification] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProPrice] [float] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[OwnerId] [int] NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOwner]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOwner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Longiude] [nvarchar](max) NULL,
	[Latitude] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductOwner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Orders] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentID] [int] NULL,
	[Order] [int] NOT NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/9/2024 12:16:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Access] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Created_at] [datetime] NOT NULL,
	[Created_by] [int] NOT NULL,
	[Updated_at] [datetime] NOT NULL,
	[Updated_by] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[PayTotal] [int] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (21, N'Điện thoại', N'dt', 0, 0, N'meta', N'meta', 1, CAST(N'2023-10-22T22:26:10.973' AS DateTime), 103, CAST(N'2023-10-22T22:26:10.973' AS DateTime), 103)
INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (22, N'Laptop', N'lt', 0, 0, N'meta', N'meta', 1, CAST(N'2023-10-22T22:26:30.000' AS DateTime), 103, CAST(N'2023-10-22T22:26:30.000' AS DateTime), 103)
INSERT [dbo].[Category] ([ID], [Name], [Slug], [ParentID], [Orders], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (23, N'Âm thanh', N'at', 0, 0, N'meta', N'meta', 1, CAST(N'2023-10-22T22:26:44.903' AS DateTime), 103, CAST(N'2023-10-22T22:26:44.903' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupUser] ON 

INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (3, N'Mua nhiều', 10000000, N'Những người dùng mua trên 10 triệu', CAST(N'2023-12-11T09:17:28.960' AS DateTime), 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, 1)
INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (5, N'Mua vừa', 5000000, N'Những người dùng mua trên 5 triệu', CAST(N'2023-12-11T09:17:28.960' AS DateTime), 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, 1)
INSERT [dbo].[GroupUser] ([ID], [Name], [Level], [Description], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status]) VALUES (6, N'Mua ít', 1000000, N'Những người dùng mua trên 1 triệu', CAST(N'2023-12-11T09:17:28.960' AS DateTime), 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[GroupUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Link] ON 

INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (12, N'Tin khuyến mãi', N'tin-khuyen-mai', N'topic', 1)
INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (13, N'Tin hằng ngày', N'tin-hang-ngay', N'topic', 2)
INSERT [dbo].[Link] ([Id], [Name], [Slug], [Type], [TableId]) VALUES (27, N'Điện thoại', N'dt', N'category', 21)
SET IDENTITY_INSERT [dbo].[Link] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Trang Chủ', N'custom', N'/', NULL, 0, 1, N'header', 2, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 0, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Tin tức', N'custom', N'tin-tuc', NULL, 0, 1, N'header', 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 0, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 2)
INSERT [dbo].[Menu] ([ID], [Name], [Type], [Link], [TableID], [ParentID], [Orders], [Positon], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Giới thiệu', N'page', N'gioi-thieu', 1, 0, 1, N'header', 2, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 0, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (3, N'20231218021245', 114, CAST(N'2023-12-18T14:21:45.027' AS DateTime), CAST(N'2023-12-18T14:34:31.930' AS DateTime), N'', N'Bùi Văn Hoàng', N'0394073756', N'', 3, NULL, CAST(N'2023-12-18T14:34:31.930' AS DateTime), 103, 1)
INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (4, N'20231218021223', 114, CAST(N'2023-12-18T14:25:23.367' AS DateTime), NULL, N'', N'Bùi Văn Hoàng', N'0394073756', N'', 0, 0, CAST(N'2023-12-18T14:35:45.743' AS DateTime), 103, 0)
INSERT [dbo].[Order] ([ID], [Code], [UserID], [CreateDate], [ExportDate], [DeliveryAddress], [DeliveryName], [DeliveryPhone], [DeliveryEmail], [Status], [Trash], [Updated_at], [Updated_by], [IsPayment]) VALUES (5, N'20231218021209', 114, CAST(N'2023-12-18T14:48:09.837' AS DateTime), CAST(N'2023-12-18T14:53:06.577' AS DateTime), N'', N'Bùi Văn Hoàng', N'0394073756', N'', 3, NULL, CAST(N'2023-12-18T14:53:06.577' AS DateTime), 103, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (48, 1, 25, 152000, 2, 304000)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (49, 2, 27, 89000, 1, 89000)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [Price], [Quantity], [Amount]) VALUES (50, 3, 23, 35000000, 1, 35000000)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOwner] ON 

INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (1, N'456 Tôn Đức Thắng, Hòa Khánh Nam, Liên Chiểu', CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, 1, N'108.159324', N'16.0613392')
INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (2, N'436 Điện Biên Phủ, Thanh Khê, Đà Nẵng', CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, 1, N'108.1859479', N'16.0660573')
INSERT [dbo].[ProductOwner] ([Id], [Name], [Created_at], [Created_by], [Updated_at], [Updated_by], [Status], [Longiude], [Latitude]) VALUES (3, N'234 Nguyễn Văn Linh, Thanh Khê, Đà Nẵng', CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, 1, N'108.2059543', N'16.0596987')
SET IDENTITY_INSERT [dbo].[ProductOwner] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (1, N'Combo Giảm Giá', NULL, N'1', N'combo-giam-gia.jpg', 0, 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 4, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103)
INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Giờ Vàng ', NULL, N'1', N'gio-vang-.jpg', 0, 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 4, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103)
INSERT [dbo].[Slider] ([ID], [Name], [Url], [Position], [Image], [Orders], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (3, N'Flash Sale', NULL, N'1', N'flash-sale.jpg', 0, 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 4, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([ID], [Name], [Slug], [ParentID], [Order], [MetaKey], [MetaDesc], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by]) VALUES (2, N'Tin hằng ngày', N'tin-hang-ngay', 0, 0, N'Tin thường ngày', N'Tin thường ngày', 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103)
SET IDENTITY_INSERT [dbo].[Topic] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (103, N'Quản trị viên', N'admin', N'4QrcOUm6Wau+VuBX8g+IPg==', N'admin@gmail.com', 1, 394073759, N'ok', N'', 1, 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 1, 7, 0)
INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (111, N'Quản trị', N'quantrivien', N'/vHd8mqsq2FKgi4kO9sWyw==', N'quantrivien@gmail.com', 1, 123456789, N'Quản trị viên', N'quan-tri.jpg', 1, 0, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 103, 7, 0)
INSERT [dbo].[User] ([ID], [Fullname], [Name], [Password], [Email], [Gender], [Phone], [Address], [Image], [Access], [Status], [Created_at], [Created_by], [Updated_at], [Updated_by], [GroupId], [PayTotal]) VALUES (112, N'Lê Văn C', N'levanc', N'i5YoL5fbmnteeBT/9l4G1A==', N'levanc@gmail.com', 1, 34345424, N'Hà Nội', N'', 0, 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 1, CAST(N'2023-12-11T09:17:28.960' AS DateTime), 1, 3, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [IsPayment]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [GroupId]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [PayTotal]
GO
USE [master]
GO
